.form-container {
  margin-top: 18px;
}

.input-block-category select {
  cursor: pointer;
    width: 100%;
    padding: 10px;
    background-color: rgb(48, 48, 48);
    border: none;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}
