@font-face {
  font-family: 'SB Sans Text';
  src: url('../../resources/sbsanstext-medium.woff2') format('woff2'),
  url('../../resources/sbsanstext-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.hints-block {
  color: white;
  font-family: 'SB Sans Text', sans-serif;
  border-radius: 10px;
  padding: 10px;
  height: calc(100% - 40px);

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .thumbnail-container {
    position: relative;
  }

  .thumbnail {
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }

  .placeholder {
    margin-top: 221px;
    margin-right: 22px;
  }
}

.form-container {
  width: 300px;
  margin-top: 102px;
}

.file-upload-button {
  width: 300px;
  height: 30px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, rgb(47, 214, 92), rgb(32, 193, 199));
  cursor: pointer;

  font-size: 14px;
  padding-top: 10px;
}

.file-upload-button img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.file-upload-button:hover {
  background-color: #f0f0f0;
}

.upload-button-container {
  display: flex;
  justify-content: space-around;
}


.form-container {
  display: flex;
  justify-content: center;
}

.file-upload-button {
  position: relative;
  padding-left: 20px;
}

.svg-container {
  position: absolute;
  padding: 10px 0px 0px 220px;
}

.svg-container svg {
  width: 20px;
  height: 20px;
}

